.footer {
   background-color: #F55111;
   position: relative;

   &__box {
      
      &:nth-child(1){
         font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
         color: rgb(251, 251, 251);
         & h2 {
            color: white;
         }
         & a {
            display: block;
            text-decoration: none;
            color: white;
            text-align: center;
         }
      }
      &:nth-child(n+1){
         color: rgb(251, 251, 251);
         & h2 {
            color: white;
         }
         & a {
            display: block;
            text-decoration: none;
            color: white;
            text-align: center;
         }
      }
   }

   &__redes-box {
      float: left;
      width: 100px;
      background-color: burlywood;
      
   }
   & img {
      width: 15%;
      border-radius: 20px;
      position: absolute;
      bottom: 10px;
      right: 10px;
   }
}