
         <div class="form-container form-container--block">
         <h2 class="form-container__title">Sobre mí</h2>
         <p class="form-container__text">
            Mi nombre es David Garcia soy estudiante de la ruta de desarrollo web Full Stack de EDUCACIÓN IT.
            Este es mi primer e-commerce, a futuro espero mejorar ampliamente en mis conocimientos relacionados con
            la programación y el diseño web, ya que todavía soy bastante principiante.
         </p>
         
      </div>


